{
  "extends": [
    "@neogeek/eslint-config-standards"
  ],
  "rules": {
    "capitalized-comments": 0,
    "id-length": 0,
    "max-statements": 0,
    "new-cap": 0,
    "no-extra-parens": 0,
    "no-underscore-dangle": 0
  }
}
